#one {
	font-size: 15px;
	text-align: center;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color: white;
	top:60%;
	left: 43%;
	position:fixed;
	}
	
#two {
	font-size: 15px;
	text-align: center;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color: white;
	top:70%;
	left: 48%;
	position:fixed;
	}
	
#three {
	font-size: 13px;
	text-align: center;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	top:75%;
	left: 49.5%;
	position:fixed;
	
	}
body {
	background-color:black;
}
div.t1 {
	top: 46%;
	left: 50%;
	position: fixed;
	font-size: 16pt;
	color:rgba(248,248,0,1.00);
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg); /* Standard syntax */
}
div.t2 {
	top: 26%;
	right: 30%;
	position: fixed;
	font-size: 24pt;
	color: rgba(246,220,45,1.00);
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg); /* Standard syntax */
}
div.t3 {
	top: 16%;
	left: 27%;
	position: fixed;
	font-size: 12pt;
	color:rgba(245,218,100,1.00);
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg); /* Standard syntax */
}
/*Defaults to blue, before clicking*/	
a:link {
	color: #C8C8C8;
	text-decoration: none;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	}	

/*Defaults to purple, after clicking*/	
a:visited {
	color: #C8C8C8;
	}

/*Mouse hovers, before clicking*/
a:hover {
	text-decoration: none;
	}
/*Mouse clicks on the link*/	
a:active {
	color: black;
	}	
	