/* CSS Document */
div#myDiv {
	width: 20px;
	height: 10px;
	font-size: 800px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color:rgba(248,234,43,1.00);
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-10deg); /* Standard syntax */
}
#one {
	font-size: 15px;
	text-align: center;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	position:fixed;
	top: 20%;
	right: 41%;
	}	
	
#two {
	font-size: 15px;
	text-align: center;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	top: 30%;
	right: 42%;
	position:fixed;
	}
	
#three {
	font-size: 15px;
	text-align: center;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	top: 40%;
	right: 44%;
	position:fixed;
	}
	
#four {
	font-size: 15px;
	text-align: center;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	top: 49%;
	right: 46%;
	position:fixed;
	}
	
#five {
	font-size: 13px;
	text-align: center;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	top: 59%;
	right: 48%;
	position:fixed;
	}
	
/*Defaults to blue, before clicking*/	
a:link {
	color: #C8C8C8;
	text-decoration: none;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	}	

/*Defaults to purple, after clicking*/	
a:visited {
	color: #C8C8C8;
	}

/*Mouse hovers, before clicking*/
a:hover {
	text-decoration: none;
	}
/*Mouse clicks on the link*/	
a:active {
	color: black;
	}	
	